@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}

.box{
    display: grid;
   /*  Cambia los valores para experimentar*/
    align-content: center;
 }

#resultado{
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            400px,
            1fr
        )
    )
}

a{
    text-decoration: none;
    color: brown;
}