@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}


#resultado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
   
}

.image-container{
    display: flex;
}

